html,body,div,ul,li,ol,p,dd,dl{
    margin: 0;
    padding: 0;
}

ul,li,ol,dd,dl{
    list-style: none;

}

b, em, i, strong {
    font-weight: 400;
    font-style: normal;
}

img{
    border: 0;
    vertical-align: top;
}

span,a, a:hover {
    color: #fff;
    outline: none;
    text-decoration: none;
}


button, input, textarea {
    margin: 0;
    padding: 0;
    outline: none;
    resize: none;
    font-family: Hiragino Sans GB,Microsoft Yahei UI,Microsoft Yahei,\\5FAE\8F6F\96C5\9ED1,Segoe UI,Tahoma,"\5B8B\4F53 b8b\4F53",SimSun,sans-serif;
}


.header{
    background: #000 url(../images/background1.01.jpg) no-repeat;
    width: 100%;
    height: 566px;
    padding-top: 34px;
    background-position: center 0;
    display: block;
    position: relative;
}

.wrapper{
    padding: 0 50px;
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
}

/* 导航栏 */

.fl{
    float: left;
}

.logo {
    margin-right: 30px;
    margin-top: 5px;
    display: inline-block;
    background-image: url(../images/The\ elves\ figure1.02.png);
    background-position: -72px 0;
    width: 94px;
    height: 34px;
}

.exchange {
    display: inline-block;
    height: 24px;
    padding: 0 8px;
    line-height: 24px;
    text-align: center;
    color: #fff;
    margin-top: 8px;
    cursor: pointer;
    border-radius: 14px;
    border: 2px solid #fff;
    font-size: 12px;
}

.fr{
    float: right;
}

.nava{
    line-height: 47px;
}

.nava ul{
    float: left;
    zoom: 1;
}

.fr .nav ul:after .fr .nav ul:before {
    display: table;
    content: "";
}

.toubu{
    height: 47px;
    float: left;
    position: relative;
}

.toubu a{
    font-size: 16px;
    margin-left: 20px;
    font-weight: 700;
}
.header.fr .nav ul:after {
    clear: both;
}

.header.fr .nav ul:after,
.header.fr .nav ul:before {
    display: table;
    content: "";
}


.header.fr .nav ul li a {
    font-size: 16px;
    margin-left: 20px;
    font-weight: 700;
}

.header.fr a,
.header.fr span {
    color: #fff;
    text-decoration: none;
}

b, em, i, strong {
    font-weight: 400;
    font-style: normal;
}

.header.fr .nav ul li.hover .nav-list {
    width: 120px;
    position: absolute;
    top: 45px;
    text-align: center;
    opacity: 0;
    transition: all .5s cubic-bezier(.34,1.21,.4,1);
    transform-origin: 50% 0;
    transform: translateY(0) scale(0);
}

.header.fr .nav ul li.hover dd {
    position: absolute;
    background: #fff;
    border-radius: 4px;
    text-align: center;
    padding: 8px 0;
    margin-left: -18px;
    overflow: hidden;
}

.header.fr .nav ul li.hover dd .sefas {
    padding: 52px 0 32px;
    cursor: default;
    width: 200px;
    color: #101d37;
}

.header.fr .nav ul li.hover dd .sefas .icon {
    margin: 0 auto 12px;
    background-image: url(../images/The/elves/figure1.02.png);
    background-position: 0 0;
    width: 72px;
    height: 72px;
}

.header .fr .nav ul li.hover dd .sefas .title {
    line-height: 25px;
    font-size: 18px;
    font-weight: 600;
}

.header.fr .nav ul li.hover dd .sefas .icon {
    line-height: 17px;
    font-size: 12px;
    margin-bottom: 30px;
}

.header.fr .nav ul li.hover dd .sefas .title{
    line-height: 25px;
    font-size: 18px;
    font-weight: 600;
}

.header.fr .nav ul li.hover dd .sefas .subTitle{
    line-height: 17px;
    font-size: 12px;
    margin-bottom: 30px;
}


.header.fr .nav ul li.hover dd .sefas .subTitle .img {
    width: 120px;
    height: 120px;
}

.header .fr .nav ul:after {
    clear: both;
}

.header.fr .nav ul:after,
.header.fr .nav ul:before {
    display: table;
    content: "";
}

/* 登录栏 */

.ti-hover{
    height: 47px;
    float: right;
    margin: 0 50px 0 55px;
}

.ti-hover .typeShowUser{
    float: right;
}

.ti-hover .typeShowUser i{
    background-image: url(../images/The\ elves\ figure1.02.png);
    background-position: -72px -34px;
    width: 26px;
    height: 26px;
    display: inline-block;
    position: relative;
    top: 5px;
    margin-right: 5px;
}

.ti-hover .typeShowUser .welcome{
    font-size: 16px;
    font-weight: 700;
}

.btn-login{
    margin-left: 5px;
    font-size: 16px;
}

.btn-login span{
    color: #fff;
    text-decoration: none;
    font-size: 12px;
    line-height: 47px;
}

.welcome span{
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    line-height: 47px;
}

.btn-register{
    margin-left: 5px;
    font-size: 16px;
}

.log{
    font-size: 16px;
    font-weight: 700;
}

.clear{
    display: block;
}


.clear:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
    font-size: 0;
    line-height: 0;
}

/* 标题栏 */

.header-wrap {
    width: 1150px;
    margin: 0 auto;
}

.wrap-ico {
    margin-top: 116px;
    text-align: left;
    color: #fff;
    font-size: 66px;
    line-height: 68px;
    font-weight: 600;
    font-family: \\5FAE\8F6F\96C5\9ED1,Hiragino Sans GB;
    letter-spacing: -2.4px;
}

.title_small {
    font-size: 28px;
    line-height: 28px;
    height: 28px;
    font-weight: 400;
    margin-bottom: 18px;
}

.title_small span{
    vertical-align: middle;
}

.search-box-wrap{
    width: 590px;
    position: relative;
}

.search-box-con{
    position: relative;
    margin-top: 36px;
}

.menu{
    float: left;
    height: 41px;
}


.header-wrap .search-box-wrap .search-box-con .menu li.check {
    opacity: 1;
}

.header-wrap .search-box-wrap .search-box-con .menu li {
    float: left;
}


.header-wrap .search-box-wrap .search-box-con .menu li span {
    line-height: 25px;
    height: 25px;
}

.header-wrap .search-box-wrap .search-box-con .menu li span {
    font-size: 16px;
    color: #fff;
    font-weight: 700;
    padding: 0 20px 0 0;
    height: 32px;
    display: inline-block;
    cursor: pointer;
}


.header-wrap .search-box-wrap .search-box-con .menu i {
    left: 23px;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    width: 0;
    height: 0;
    transition: all .3s ease-in-out;
    position: absolute;
    top: 31px;
    left: 23px;
    border-bottom: 10px solid #fff;
    z-index: 9;
}

/* 搜索栏 */

.search {
    clear: both;
    position: relative;
}

.clear {
    display: block;
}


.search .box{
    background: #fff;
    border-radius: 4px;
    clear: both;
    height: 50px;
    box-shadow: 1px 0 5px rgba(0,0,0,.2);
}

.clear .searchBox{
    position: relative;
}

.clear-lest{
    padding-left: 20px;
    width: 494px;
    border: 0;
    height: 50px;
    border-radius: 4px;
    font-size: 16px;
    float: left;
}

.clear-iled{
    width: 0;
    height: 0;
    border: 0;
}

.clear-btnt{
    background-color: #3072f6;
    width: 76px;
    height: 50px;
    float: right;
    border: 0;
    display: block;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    text-align: center;
    color: #fff;
    -webkit-appearance: none;
    transition: all .3s ease-in-out;
}

.clear-btnt+i{
    background-image: url(../images/The\ elves\ figure1.02.png);
    background-position: -98px -34px;
    width: 19px;
    height: 19px;
    position: absolute;
    display: inline-block;
    top: 15px;
    right: 28px;
    cursor: pointer;
    pointer-events: none;
}

.savesearch{
    position: absolute;
    right: 76px;
    top: 0;
    height: 50px;
    line-height: 50px;
    background: #fff;
    width: auto;
    padding-right: 30px;
    display: block;
}


.suggest-wrap{
    position: relative;
    width: 514px;
    border: 1px solid #000;
    border-top: 0;
    left: -1px;
    display: none;
}

/* 复选的地方 */

/* .sug-tips{
    clear: both;
    width: auto;
    margin-top: 1px;
    position: absolute;
}

.sug{
    display: none;

}

.sug-tips .sug {
    width: 514px;
    background: #fff;
    border: 1px solid #000;
    border-top: 0;
    position: relative;
    left: -1px;
    top: -1px;
    z-index: 1002;
}

.hot-name{
    background: #f4f7f9;
    color: #849aae;
}

.sug-tips .sug .hot-name{
    height: 35px;
    line-height: 35px;
    padding: 3px 20px;
}

.hot-name .hot-tips{
    color: #849aae;
    line-height: 35px;
}

.hot-name .del{
    display: none;
    text-align: right;
    cursor: pointer;
    opacity: .5;
    float: right;
}

.list li{
    height: 35px;
    line-height: 35px;
    padding: 3px 20px;
}

.list li a{
    color: #101d37;
    font-size: 14px;
    text-decoration: none;
    display: block;
    width: 100%;
} */


/* 左下角栏 */

.header-bottom{
    position: absolute;
    color: #fff;
    font-size: 14px;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    bottom: 20px;
}

.header-bottom .house-num{
    float: left;
    color: #fff;
    font-size: 14px;
    line-height: 20px;
}

 .header-bottom .house-num i {
    float: left;
    margin-top: 4px;
    vertical-align: middle;
    background-image: url(../images/The\ elves\ figure1.02.png);
    background-position: -117px -34px;
    width: 16px;
    height: 13px;
}

.header-bottom .house-num ul {
    margin-left: 5px;
    position: relative;
    float: left;
    height: 20px;
    overflow: hidden;
}



/* 页面中部 二手房列表板块 */


.ershoufang{
    clear: both;
    margin-bottom: 80px;
}


.esf-wppas{
    overflow: hidden;
    position: relative;
    top: 80px;
    margin-top: 80px;
    width: 1150px;
    margin: 0 auto;
}


.esf-fl{
    float: left;
}


.esf-name{
    font-size: 36px;
    line-height: 50px;
    color: #101d37;
    font-weight: 600;
}

.esf-fl p{
    color: #9399a5;
    width: 1150px;
    font-size: 16px;
    line-height: 22px;
}

.esf-fl p .esf-gd{
    color: #3072f6;
    float: right;
    font-weight: 600;
}

.clear{
    display: block;
}

.esf-wppas ul{
    margin-top: 26px;
    width: 2100px;
}

.esf-tubu{
    position: relative;
    width: 265px;
    height: 315px;
    float: left;
    margin-right: 30px;
    border-radius: 5px;
}

.esf-wppas ul .maidian-detail{
    position: relative;
    width: 265px;
    height: 315px;
    float: left;
    margin-right: 10px;
    border-radius: 5px;
}

.esf-wppas ul .maidian-detail{
    display: block;
}

.wra img{
    border-radius: 4px;
    width: 260px;
    height: 205px;
}

.vr_item{
    background-image: url(../images/icon2.03.png);
    background-size: 45px 45px;
    width: 45px;
    height: 45px;
    position: absolute;
    left: 8px;
    bottom: 118px;
}

.goodhouse{
    position: absolute;
    left: 0;
    top: 0;
    width: 86px;
    height: 30px;
}

.goodhouse img{
    width: 86px;
    height: 30px;
    border-radius: 0;
}

.esf-wppas ul li .bottom {
    width: 265px;
    max-height: 92px;
    background: #fff;
}

.esf-wppas ul li .bottom .name{
    margin-top: 16px;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    color: #222;
}

.esf-wppas ul li .bottom .name p{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.info{
    margin-top: 10px;
    font-size: 12px;
    color: #616669;
    line-height: 16px;
    overflow: hidden;
}

.info .price{
    font-weight: 700;
    float: right;
    font-size: 16px;
    color: #fa5741;
}


/* 页面中部 为您推荐小区板块  */

.xiaoqu-list[data-component=recommendXiaoqu] {
    width: 100%;
    clear: both;
    margin-bottom: 80px;
}

.xiaoqu-list[data-component=recommendXiaoqu] .wrapper {
    width: 1260px;
}

.wrapper {
    overflow: hidden;
    /* position: relative; */
    top: 80px;
    margin-top: 80px;
    width: 1150px;
    margin: 0 auto;
}

.xiaoqu-list[data-component=recommendXiaoqu] .wrapper .fl {
    margin-bottom: 25px;
}

.fl {
    float: left;
}

.xiaoqu-list[data-component=recommendXiaoqu] .name {
    font-size: 36px;
    line-height: 50px;
    color: #101d37;
    font-weight: 600;
}

.xiaoqu-list[data-component=recommendXiaoqu] .wrapper .fl p {
    font-size: 16px;
    line-height: 22px;
    color: #9399a5;
    width: 1150px;
}

.xiaoqu-list[data-component=recommendXiaoqu] .wrapper .fl p a {
    color: #3072f6;
    float: right;
    font-weight: 600;
}


.xiaoqu-list[data-component=recommendXiaoqu] .xiaoqu-list {
    clear: both;
    width: 1150px;
    overflow: hidden;
    height: 336px;
    padding-top: 0;
    position: relative;
}

.xiaoqu-list[data-component=recommendXiaoqu] .xiaoqu-list ul {
    position: absolute;
    width: 25000px;
    top: 0;
}

.xiaoqu-list[data-component=recommendXiaoqu] .xiaoqu-list ul li {
    float: left;
    margin-right: 30px;
}


.xiaoqu-list[data-component=recommendXiaoqu] .xiaoqu-list ul li a {
    width: 364px;
    display: inline-block;
    text-decoration: none;
    border-radius: 4px;
    overflow: hidden;
}


.xiaoqu-list[data-component=recommendXiaoqu] .xiaoqu-list ul li a .img-wrap {
    border-radius: 4px;
    overflow: hidden;
}


.xiaoqu-list[data-component=recommendXiaoqu] .xiaoqu-list ul li a img {
    width: 100%;
    height: 272px;
    transition: .7s ease-in-out;
}


.xiaoqu-list[data-component=recommendXiaoqu] .xiaoqu-list ul li a .title {
    position: relative;
    width: 364px;
    margin-top: 15px;
}


.xiaoqu-list[data-component=recommendXiaoqu] .xiaoqu-list ul li a .title .resblock-desc {
    overflow: hidden;
}



.xiaoqu-list[data-component=recommendXiaoqu] .xiaoqu-list ul li a .title .resblock-desc .resblock-name {
    font-size: 18px;
    line-height: 25px;
    color: #101d37;
    float: left;
    font-weight: 600;
    max-width: 260px;
    height: 25px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.xiaoqu-list[data-component=recommendXiaoqu] .xiaoqu-list ul li a .title .resblock-desc .resblock-price {
    color: #fa5741;
    font-size: 16px;
    line-height: 25px;
    float: right;
    font-weight: 600;
}


.xiaoqu-list[data-component=recommendXiaoqu] .xiaoqu-list ul li a .title .resblock-desc .resblock-price {
    color: #fa5741;
    font-size: 16px;
    line-height: 25px;
    float: right;
    font-weight: 600;
}

.xiaoqu-list[data-component=recommendXiaoqu] .xiaoqu-list ul li a .title .resblock-year {
    margin-top: 5px;
    color: #9399a5;
    font-size: 12px;
    line-height: 20px;
}

.xiaoqu-list[data-component=recommendXiaoqu] .xiaoqu-list ul li a .title .resblock-year {
    margin-top: 5px;
    color: #9399a5;
    font-size: 12px;
    line-height: 20px;
}


/* 页面中部 新房列表页 */


.xiaoqu-list[data-component=recommendXiaoqu] {
    width: 100%;
    clear: both;
    margin-bottom: 80px;
}


.new-house[data-component=recommendXinfang] .wrapper {
    width: 1260px;
}

.wrapper {
    width: 1950px;
    margin: 0 auto;
}

.new-house[data-component=recommendXinfang] .wrapper .fl {
    margin-bottom: 25px;
}

.fl {
    float: left;
}

.new-house[data-component=recommendXinfang] .wrapper .name {
    font-size: 36px;
    line-height: 50px;
    color: #101d37;
    font-weight: 600;
}

.new-house[data-component=recommendXinfang] .wrapper p {
    color: #9399a5;
    width: 1150px;
    line-height: 22px;
    font-size: 16px;
}

.new-house[data-component=recommendXinfang] .wrapper p a {
    color: #3072f6;
    float: right;
    font-weight: 600;
}

.new-house[data-component=recommendXinfang] .newhose-list {
    clear: both;
    width: 1150px;
    overflow: hidden;
    height: 272px;
    position: relative;
}

.new-house[data-component=recommendXinfang] .newhose-list ul {
    position: absolute;
    width: 25000px;
    top: 0;
}

.new-house[data-component=recommendXinfang] .newhose-list ul li {
    float: left;
    margin-right: 30px;
}

.new-house[data-component=recommendXinfang] .newhose-list ul a {
    width: 363px;
    height: 272px;
    display: block;
    border-radius: 4px;
    font-weight: 600;
    position: relative;
    overflow: hidden;
}

.new-house[data-component=recommendXinfang] .newhose-list ul a img {
    border-radius: 4px;
    width: 363px;
    height: 272px;
    transition: .7s ease-in-out;
}


.new-house[data-component=recommendXinfang] .newhose-list ul a .bg {
    background: #000;
    opacity: .3;
    filter: alpha(opacity=30);
    width: 363px;
    height: 272px;
    position: absolute;
    left: 0;
    bottom: 0;
}

.new-house[data-component=recommendXinfang] .newhose-list ul a .title {
    font-size: 24px;
    color: #fff;
    position: absolute;
    bottom: 25px;
    width: 242px;
    height: 54px;
    left: 50%;
    top: 50%;
    margin-left: -121px;
    text-align: center;
    margin-top: -27px;
    font-weight: 600;
}


.new-house[data-component=recommendXinfang] .newhose-list ul a .title span {
    font-size: 14px;
    display: block;
}

.new-house[data-component=recommendXinfang] .newhose-list ul a .title span label {
    color: #fff;
    position: relative;
}


/* 页面中部 租房 */



[data-component=recommendZufang] {
    display: block;
    clear: both;
    margin-bottom: 80px;
}

[data-component=recommendZufang] .wrapper {
    overflow: hidden;
    position: relative;
    margin-top: 80px;
    width: 1260px;
}


[data-component=recommendZufang] .fl .name {
    font-size: 36px;
    line-height: 50px;
    color: #101d37;
    font-weight: 600;
}


[data-component=recommendZufang] .fl p {
    color: #9399a5;
    width: 1150px;
    font-size: 16px;
    line-height: 22px;
}


[data-component=recommendZufang] .fl p a {
    color: #3072f6;
    float: right;
    font-weight: 600;
}

[data-component=recommendZufang] ul {
    margin-top: 26px;
    width: 2100px;
}


[data-component=recommendZufang] li {
    position: relative;
    width: 265px;
    height: 315px;
    float: left;
    margin-right: 30px;
    border-radius: 4px;
}


[data-component=recommendZufang] li a {
    display: block;
    font-size: 16px;
    margin-left: 0px;
    font-weight: 700;
}


[data-component=recommendZufang] li img {
    width: 265px;
    height: 205px;
    border-radius: 4px;
}

[data-component=recommendZufang] li .bottom {
    width: 265px;
    max-height: 92px;
    background: #fff;
}


[data-component=recommendZufang] li .bottom p.p01 {
    font-size: 18px;
    color: #101d37;
    line-height: 25px;
    height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 15px;
    font-weight: 600;
    white-space: nowrap;
}


[data-component=recommendZufang] li .bottom div.tips {
    overflow: hidden;
    margin-top: 5px;
    line-height: 20px;
}


[data-component=recommendZufang] li .bottom div.tips .tips-info {
    float: left;
    color: #9399a5;
    font-size: 12px;
    max-width: 210px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


[data-component=recommendZufang] li .bottom div.tips .tips-price {
    float: right;
    color: #fa5741;
    font-size: 16px;
    font-weight: 600;
}



/* 页面中部 海外 */



[data-component=recommendHaiwai] {
    display: block;
    clear: both;
    margin-bottom: 80px;
}

[data-component=recommendHaiwai] .wrapper {
    overflow: hidden;
    position: relative;
    margin-top: 80px;
    width: 1260px;
}


[data-component=recommendHaiwai] .fl .name {
    font-size: 36px;
    line-height: 50px;
    color: #101d37;
    font-weight: 600;
}


[data-component=recommendHaiwai] .fl p {
    color: #9399a5;
    width: 1150px;
    font-size: 16px;
    line-height: 22px;
}


[data-component=recommendHaiwai] .fl p a {
    color: #3072f6;
    float: right;
    font-weight: 600;
}


[data-component=recommendHaiwai] ul {
    margin-top: 26px;
    width: 2100px;
}


[data-component=recommendHaiwai] li {
    position: relative;
    width: 265px;
    height: 315px;
    float: left;
    margin-right: 30px;
    border-radius: 4px;
}


[data-component=recommendHaiwai] li a {
    display: block;
    font-size: 16px;
    margin-left: 0px;
    font-weight: 700;
}


[data-component=recommendHaiwai] li .img {
    position: relative;
}


[data-component=recommendHaiwai] li .img .modal {
    position: absolute;
    width: 265px;
    height: 102.5px;
    bottom: 0;
    background: linear-gradient(0deg,rgba(0,0,0,.7),transparent);
}


[data-component=recommendHaiwai] li img {
    width: 265px;
    height: 205px;
    border-radius: 4px;
}


[data-component=recommendHaiwai] li .img .dollar {
    position: absolute;
    right: 16px;
    bottom: 36px;
    font-size: 12px;
    line-height: 12px;
    color: #fff;
}


[data-component=recommendHaiwai] li .img .china-yuan {
    position: absolute;
    right: 16px;
    bottom: 16px;
    color: #f9bd67;
    line-height: 16px;
    font-size: 16px;
    font-weight: 700;
}


[data-component=recommendHaiwai] li .bottom {
    margin-top: 16px;
    width: 265px;
    max-height: 92px;
    background: #fff;
}


[data-component=recommendHaiwai] li .bottom .country {
    font-size: 12px;
    line-height: 12px;
    color: #767676;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


[data-component=recommendHaiwai] li .bottom p.p01 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-top: 8px;
    font-size: 18px;
    color: #222;
    line-height: 1.2;
    font-weight: 600;
}


[data-component=recommendHaiwai] li .bottom div.tips {
    overflow: hidden;
    margin-top: 8px;
    line-height: 12px;
}


[data-component=recommendHaiwai] li .bottom div.tips .tips-info {
    float: left;
    color: #222;
    font-size: 12px;
    max-width: 210px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.overlayBg {
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .6;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    display: none;
}


/* 底部版权信息 */


.footer {
    clear: both;
    width: 100%;
    margin-top: 0;
    min-height: 437px;
}


.footer .wrapper {
    width: 1150px;
    margin: 0 auto;
    border-top: 1px solid #e4e6f0;
}


.footer .f-title {
    padding: 32px 0 0;
    line-height: 25px;
    font-size: 16px;
    font-weight: 600;
    overflow: hidden;
}

.footer .f-title .fl  {
    width: 950px;
    float: none;
}


.footer .f-title .fl li {
    float: left;
    padding: 0 25px;
    line-height: 54px;
    border: .5px solid #d9d6d6;
    border-radius: 5px;
    margin-right: 20px;
    margin-bottom: 20px;
}


.footer .f-title .fl li a {
    color: #222;
    font-weight: 700;
}


.footer .f-title .fr {
    color: #3072f6;
    margin-left: 20px;
}


.footer .lianjia-link-box .fl {
    width: 1000px;
}


.footer .lianjia-link-box .fl .tab {
    overflow: hidden;
}

.footer .lianjia-link-box .fl .tab span.hover {
    color: #101d37;
}


.footer .lianjia-link-box .fl .tab span {
    color: #707787;
    float: left;
    margin: 0 20px 12px 0;
    cursor: pointer;
    font-size: 14px;
    transition: all .3s ease-in-out;
}


.footer .lianjia-link-box .fl .link-list {
    clear: both;
}


.footer .lianjia-link-box .fl .link-list div {
    display: block;
    min-height: 74px;
}


.footer .lianjia-link-box .fl dd a {
    color: #b7bbc3;
    font-size: 14px;
    display: inline-block;
    margin: 0 10px 10px 0;
}


/* 银行栏 */

.footer .partner-logo {
    margin-top: 24px;
    overflow: hidden;
}


.footer .partner-logo li {
    float: left;
    margin: 0 40px 20px 0;
    background: #fff;
}


.footer .partner-logo li img {
    display: block;
    height: 40px;
    background: #fff;
}

/* 网页介绍 */


.footer .bottom {
    margin-top: 24px;
}


.footer .bottom .copyright {
    color: #b7bbc3;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 7px;
    float: none;
}

.footer .bottom .copyright a {
    color: #b7bbc3;
}

/* 广告 */

[data-component=GoodhouseLayer] {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 1150px;
    margin: 0 auto;
}

[data-component=GoodhouseLayer] img {
    display: block;
    width: 100%;
}

[data-component=GoodhouseLayer] .close {
    position: absolute;
    width: 45px;
    height: 33px;
    right: 0;
    top: 0;
    cursor: pointer;
}